/* Add CSS Styling */
.odd {
    background-color: #F87C63;
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

#second {
    color: #0A7FF5;
    font-size: 36px;
}

.third {
    font-size: 24px;
}

#fourth {
    background-color: #a9fa8e;
    font-size: 24px;
    font-weight: 700;
}